/* --------------------------------
 * ■　fv：スマートフォン表示
 * -------------------------------- */
@include sp {
    .fv {
        height: 360px;
        background-size: 300%;
    }
}

/* --------------------------------
 * ■　form：スマートフォン表示
 * -------------------------------- */
 @include sp {
    .form {

        &__checkboxes {
            display: block;
        }
    }
}
